.leaflet-container {
  background-color: rgb(202, 221, 204);
}

.leaflet-tooltip {
  &.plant-label {
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 80px;
    height: 12px;
    font-family: Roboto, Arial, sans-serif;

    .code, .height, .triangle {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
    }

    .code {
      top: 6px;
      font-size: 16px;
      font-weight: 500;
    }

    .height {
      top: -14px;
      font-size: 14px;
    }

    .triangle {
      margin: auto;
      top: -30px;
    }
  }
}